<form
  (ngSubmit)="$event.preventDefault(); onSubmit(authForm.value); authForm.reset();"
  #authForm="ngForm">
  <h2 class='text-center'>{{ formName }} Form</h2>
  <hr />
  <div class='form-group'>
    <label html='email'>Email address</label>
    <input
      type='email'
      class='form-control'
      id='email'
      name='email'
      placeholder='Enter email'
      ngModel
      required />
  </div>
  <div class='form-group'>
    <label html='password'>Password</label>
    <input
      type='password'
      class='form-control'
      id='password'
      name='password'
      placeholder='Enter password'
      ngModel
      required />
  </div>
  <button
    type='submit'
    class='btn btn-primary'
    [disabled]="!authForm.form.valid">{{ formName }}</button>
</form>
