<div
  *ngIf="flashMessage"
  class="alert alert-{{ flashMessage.type }}" role="alert">
  <button
    type="button" class="close" data-dismiss="alert" aria-label="Close"
    (click)="clearMessage()">
    <span aria-hidden="true">&times;</span>
  </button>
  {{ flashMessage.message }}
</div>
