<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <a class="navbar-brand" routerLink="/">Book Store</a>
  <div class="navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/books">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users">Users</a>
      </li>
    </ul>
  </div>
  <div class="my-2 my-lg-0">
    <div class="btn-group" *ngIf="!(isLoggedIn | async)">
      <a
        class="btn btn-outline-success btn-sm"
        routerLink="/sign-in">Login</a>
      <a
        class="btn btn-outline-success btn-sm"
        routerLink="/sign-up">Register</a>
    </div>
    <button
      class="btn btn-outline-success btn-sm"
      *ngIf="isLoggedIn | async"
      (click)="onLogout()">Logout</button>
  </div>
</nav>
<app-flash-message></app-flash-message>
