<form [formGroup]="form" (submit)="onSubmit($event)">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" formControlName="title" />
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <input type="text" class="form-control" id="content" formControlName="content" />
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>
